/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

:root{
    --header-fonts: 'Cinzel', sans-serif;
    --body-fonts: 'Assistant', sans-serif;
   
    --dk-teal: #1a3540;
    --md-teal: #456e73;
    --lt-teal: #77a1a6;
    --dk-emerald: #062626;
    --dk-green: #164038;
    --md-green: #365945;
    --lt-green: #497358;
    --white: #ffffff;
    --black: #000000;
    --beige: #999480ce;
}

header{
    font-family: var(--header-fonts);
    font-size: 50px;
    width: 1440px;
    height: 500px;
    margin: 0;
    text-align: center;
    background-color: var(--beige);
}

link{
    display: block;
    padding: 1rem;
}

nav{
    text-align: center;
    margin-top: 14px;
    font-family: var(--body-fonts);
    padding: 5px;
    position: relative;
    top: 100px;
}

nav a{
    text-decoration: none;
    color: var(--white);
    border-radius: 10px;
    font-size: xx-large;
}

nav a:hover{
    background-color: var(--md-green)
}

body{
    box-sizing: border-box;
    font-family: var(--body-fonts);
    font-size: 2rem;
    margin: 0;
    line-height: 1.5;
}

main{
    width: 1440px;
    margin: 0 auto;
    background-color: var(--lt-teal);
}

img{
    display: block;
    border: 5px double white;
}

#contact{
    padding: 3rem;
}

#contact > h2{
    font-size: 2.5rem;
    color: var(--dk-emerald);
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: 100px;
}

#contact > img{
    position: relative;
    top: 45px;
    left: 100px;
}

#contact > p{
    width: 610px;
    text-align: left;
    position: relative;
    top: 45px;
    left: 100px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
    position: relative;
    bottom: 980px;
    left: 765px;
}

input{
    height: 100px;
}

#comments{
    height: 150px;
}

button{
    height: 75px;
    padding: 1rem;
    margin-top: 5px;

}

p{
    font-size: 1.75rem;
    max-width: 55ch;
}

a{
    display: block;
    padding: 1rem;
}

.hero-image{
    background-image: url("images/swiss-valley.jpg");
}

h1{
    font-size: 3.5rem;
    color: var(--dk-emerald);
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: 75px;
}

#relax > h2 {
    position: relative;
    left: 550px;
    top: 150px;
}

#relax > p{
    text-align: center;
    position: relative;
    left: 360px;
    top: 160px;
}

#amenities > img{
    position: relative;
    left: 50px;
    top: 300px;
}

#amenities > h3{
    position: relative;
    top: 300px;
    left: 85px;   
}

#amenities > p{
    text-align: center;
    position: relative;
    top: 300px;
    left: 75px;
    width: 45ch;
}

#escape > img{
    position: relative;
    left: 725px;
    bottom: 568px;
}

#escape > h3{
    position: relative;
    bottom: 570px;
    left: 800px;   
}

#escape > p{
    text-align: center;
    position: relative;
    bottom: 568px;
    left: 745px;
    width: 45ch;
}

h3{
    font-size: 2.5rem;
    color: var(--dk-teal);
    font-weight: bold;
}

h1, h2, h3{
    font-family: var(--body-fonts);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: var(--dk-emerald);
    width: 1440px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    color: var(--beige);
}

footer > p{
    position: relative;
    left: 300px;
}